@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Josefin+Slab');

body {
  background-color: #aeb6bf;
}
  
h1 {
  font-family: 'Alfa Slab One', cursive;
  margin: 0 auto;
  margin-top: 6%;
  text-align: center;
  font-size: 70px;
}

.styled-table {
    border-collapse: collapse;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    list-style: none;
    margin-top: 1em;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
