<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../assets/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>
<body>
    <div class="widget-wrap">
        <h1>API - Gin e Golang</h1>
        <div class="widget-wrap">
            <table class="styled-table">
            {{range .alunos}}
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>CPF</th>
                    <th>RG</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{.ID}}</td>
                    <td>{{.Nome}}</td>
                    <td>{{.CPF}}</td>
                    <td>{{.RG}}</td>
                </tr>
            </tbody>
            {{end}}
        </table>
      </div>
</body>
</html>